# Node.js
node_modules/

# Logs
logs
*.log

# Build files
build/
dist/

# Dependency directories
.pnp/
.pnp.js

# TypeScript
*.tsbuildinfo

# yarn
yarn-error.log

# Editor directories and files
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# .env files
.env*

